.btn {
  height: 58px; 
  min-width: 516px;
  padding: 0 20px;
  border: none;
  border-radius: 6px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 600;
  line-height: 1;

  cursor: pointer;
  user-select: none;
}

.light {
  background: #ffffff;
  color: #282828;
}

.dark {
  background: #282828;
  color: #ffffff;
}

.soft {
  background: #f1f3f4;
  color: #339933;
}

/* простые состояния */
.btn:hover:not(:disabled) {
  filter: brightness(0.98);
}

.btn:active:not(:disabled) {
  transform: translateY(1px);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}