.pill {
  padding: 8px 18px;
  border-radius: 12px;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #8b8b8b;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  transition: 0.2s;
  white-space: nowrap;
}

.pill:hover {
  background: #f1f3f4;
  color: #282828;
}

.active {
  background: #f1f3f4;
  color: #282828;
}